.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: transparent;
  border: .1rem solid black;
  border-radius: .5rem;
  font-size: large;
  padding: .2rem;
  margin: .3rem;
}

button:hover {
  transform: translate(.1rem, -.1rem);
  -webkit-box-shadow: -4px 9px 21px 2px rgba(0,0,0,0.79); 
  box-shadow: -4px 9px 21px 2px rgba(0,0,0,0.79);
}

.rsc > a {
  position: absolute;
  right: 5rem;
  top: 8rem;
  width: 5rem;
  height: 5rem;
  animation: .6s linear .1s 2 rock;
}

@keyframes rock {
  0% {
    transform: rotate(0deg)translate(0rem, 0rem)
  }
  25% {
    transform: rotate(-35deg) translate(-1.3rem, .5rem)
  }
  50% {
    transform: rotate(0deg)translate(0rem, 0rem)
  }
  75% {
    transform: rotate(35deg) translate(1.3rem, .5rem)
  }
  100% {
    transform: rotate(0deg)translate(0rem, 0rem)
  }
}


#root > div > div > div > img {
  border-radius: 50%;
}